@model Company.Web.Models.ForgetPasswordViewModel
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="limiter">
<div class="container-login100" >
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        <form class="login100-form validate-form" asp-action="ForgetPassword" method="post">
            <span class="login100-form-title p-b-49">
                Forget Password
            </span>
            <div class="wrap-input100 validate-input m-b-23" data-validate = "Email is reauired">
                <span class="label-input100">Email</span>
                <input class="input100" type="email" name="Email" placeholder="Type your Email">
                <span class="focus-input100" data-symbol="&#xf206;"></span>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button type="submit" value="Reset Password" class="login100-form-btn">
                        Reset Password
                    </button>
                </div>
            </div>
            <div class="text-center p-t-90">
                <span>Already have an account?</span>
                <a class="txt1" href="@Url.Action("Login", "Account")">
                    Login
                </a>
            </div>
        </form>
    </div>
</div>
</div>
